@use '../abstracts/variables' as *;

.highlight-section {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media ($mq-mobile-down) {
        display: none;
    }

    img {
        width: 100%;
        max-height: 750px;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    #highlight1,
    #highlight2 {
        position: relative;
        cursor: pointer;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }
    }

    .highlight__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2rem;
    }
}
