@use '../base/palette' as palette;

.image-container {
    padding: 1rem;

    .main-image {
        width: 100%;
        margin-bottom: 1rem;
        object-fit: contain;
        aspect-ratio: 5 / 4;
    }

    .thumbnails {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.25rem;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .thumbnail {
        height: 100px;
        border: 1px solid palette.$grey-500;
        cursor: pointer;
    }
}
