*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

img,
figure,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
address {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
}

address {
    font-style: normal;
}
