@use '../abstracts/variables' as *;
@use './colors' as color;

$font-family-display: 'Open Sans', sans-serif;
$font-family-heading: 'Open Sans', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

$font-size-n4: 0.3125rem;
$font-size-n3: 0.4375rem;
$font-size-n2: 0.5625rem;
$font-size-n1: 0.75rem;
$font-size-1: 1rem;
$font-size-2: 1.3125rem;
$font-size-3: 1.75rem;
$font-size-4: 2.3125rem;
$font-size-5: 3.125rem;
$font-size-6: 4.1875rem;
$font-size-7: 5.5625rem;
$font-size-8: 7.4375rem;
$font-size-9: 9.9375rem;

html,
body {
    font-family: $font-family-body;
}

body {
    font-size: $font-size-2;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font-family-heading;
}

.display-1,
.display-2,
.display-3 {
    font-family: $font-family-display;
}

.display-1 {
    font-size: $font-size-9;
    font-weight: 300;
    line-height: 1.2;
}

.display-2 {
    font-size: $font-size-8;
    font-weight: 300;
    line-height: 1.2;
}

.display-3 {
    font-size: $font-size-7;
    font-weight: 300;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: $font-size-5;
    font-weight: 500;
    margin-bottom: 1rem;
    @media #{$mq-mobile-down} {
        font-size: $font-size-4;
        text-align: center;
    }
    @media #{$mq-mobile-compact} {
        font-size: $font-size-3;
    }
}

h2,
.h2 {
    font-size: $font-size-4;
    font-weight: 500;
    margin-bottom: 0.5rem;
    @media #{$mq-mobile-down} {
        font-size: $font-size-3;
    }
    @media #{$mq-mobile-compact} {
        font-size: $font-size-2;
    }
}

h3,
.h3 {
    font-size: $font-size-3;
    font-weight: 500;
    margin-bottom: 0.25rem;
    @media #{$mq-mobile-down} {
        font-size: $font-size-2;
    }
}

h4,
.h4 {
    font-size: $font-size-2;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

h5,
.h5 {
    font-size: $font-size-1;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

h6,
.h6 {
    font-size: $font-size-1;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

p {
    font-size: inherit;
    font-weight: inherit;
    font-size: $font-size-2;     
    @media #{$mq-mobile-down} {
        font-size: $font-size-1;     
    }
}

abbr {
    cursor: help;
}

a {
    color: inherit;
    cursor: pointer;
}

p a {
    font-weight: 500;
}

// Project specific styles
