@use '../base/typography' as type;
@use '../base/colors' as color;
@use '../abstracts/variables' as *;

.site-header {
    background-color: color.$primary-500;

    .branding {
        padding-block: 1rem;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin-inline: auto;

        @media ($mq-mobile-down) {
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
        }
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media ($mq-mobile-down) {
            justify-content: center;
            margin: 0;
            padding-inline: 0;
            padding-block: 0.5rem;
        }
    }

    .nav-item {
        list-style-type: none;
        .nav-link {
            text-decoration: none;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }

            @media ($mq-mobile-down) {
                font-size: type.$font-size-2;
                font-weight: 400;
            }
        }

        .profile-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            background-color: lightcyan;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            span {
                text-transform: uppercase;
            }
        }
    }
}
