.site-header {
    background-color: #ede513;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin-inline: auto;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-item {
        list-style-type: none;
        .nav-link {
            text-decoration: none;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }

        .profile-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            background-color: lightcyan;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            span {
                text-transform: uppercase;
            }
        }
    }
}
