// Configuration

// Vendors (if any)

// Base styles
@use 'base/reset';
@use 'base/typography';
@use 'base/colors' as color;
@use 'base/utils';

// Layouts and components
@use 'layout/layout';
@use 'layout/header';
@use 'layout/footer';
@use 'components/listing';
@use 'components/card';
@use 'components/forms';
@use 'components/highlightSection';
@use 'components/buttons';
@use 'components/photos';
@use 'components/toasts';

// Page-specific styles
@use 'pages/profile';

//Accessabillity
@use 'accessibility/accessibility';

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --outline-color: #{color.$primary-300};
}

input[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
