// Configuration
// @use 'abstracts/variables';
// @use 'abstracts/mixins';
// @use 'themes/default';

// Vendors (if any)

// Base styles
@use 'base/reset';
@use 'base/typography';
@use 'base/colors' as color;
@use 'base/utils';

// Layouts and components
@use 'layout/layout';
@use 'layout/header';
@use 'layout/footer';
// @use 'layout/feedHeader';
// @use 'layout/footer';
// @use 'layout/navigation';
@use 'components/listing';
@use 'components/card';
@use 'components/forms';
@use 'components/highlightSection';
@use 'components/buttons';
// @use 'components/tables';
// @use 'components/figures';
// @use 'components/avatar';
// @use 'components/post';
// @use 'components/profileCards';
// @use 'components/toasts';
// @use 'components/loadingSpinner';
@use 'components/photos';

// Page-specific styles
@use 'pages/singleListing';
@use 'pages/profile';

//Accessabillity
@use 'accessibility/accessibility';

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --outline-color: lime;
}

input[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
